.button {
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// Variants
.primary {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-light-primary) 100%);
  color: var(--color-white);
  
  &:hover:not(:disabled) {
    background: linear-gradient(90deg, var(--color-light-primary) 0%, var(--color-primary) 100%);
  }
}

.secondary {
  background:var(--color-background);
  color: var(--color-light-dark);
  
  &:hover:not(:disabled) {
    background: var(--color-secondary);
  }
}

.outline {
  background: transparent;
  color:var(--color-primary);
  border: 2px solid var(--color-primary);
  
  &:hover:not(:disabled) {
    background:var(--color-primary);
    color: var(--color-white);
  }
}

// Sizes
.small {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

.medium {
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
}

.large {
  padding: 1.2rem 2rem;
  font-size: 2rem;
} 