:root {
  --foreground: #171717;
  --color-primary:#7c3aed ; 
  --color-secondary:#e5e7eb;
  --color-light-primary:#6366f1;
  --color-light-dark:#374151;
  --color-white:#fff;
  --color-background:  #f3f4f6;
  --color-error: #e11d48;
  --color-dark-blue: #3a3a5a;
  --color-light-beige: #d1d5db;
  --color-beige: #f3f3f3;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 